@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4F4F4;
    --titles: #565656;
  }
}


body {
  color: var(--titles);
  background: var(--background);
  font-family: var(--font-roboto);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Estilização da barra de rolagem */
body::-webkit-scrollbar {
  width: 13px; /* Largura da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(38,171,221); /* Cor do "polegar" da barra de rolagem */
  border-radius: 6px; /* Arredondamento do "polegar" */
  border: 3px solid transparent; /* Espaçamento ao redor do "polegar" */
  background-clip: content-box; /* Ajuste do fundo do "polegar" */
}

body::-webkit-scrollbar-track {
  background: transparent; /* Cor do fundo da barra de rolagem */
}

html {
  width: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

